.footer {
    padding-block: 30px;
    background-color: var(--color-bg-form);
    transition: background-color var(--trns);

    &__container {
        position: relative;
        display: flex;
        align-items: center;
    }
}
