@import './global/vars';
@import './global/fonts';
@import './global/settings';

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.arrow {
    display: flex;

    &:before,
    &:after {
        content: '';
        display: block;
        position: relative;
        top: 9px;
        width: 10px;
        height: 1.5px;
        background-color: var(--color-descr);

        transition: transform var(--trns),
            background-color var(--trns);
    }

    &:before {
        left: 2px;
        transform: rotate(45deg);
    }

    &:after {
        right: 2px;
        transform: rotate(-45deg);
    }
}

.btn-accent {
    display: grid;
    cursor: pointer;
    text-align: center;
    font-family: var(--ff);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: var(--color-bg-btn-accent);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding-block: 15px;

    outline: 0 !important;
    will-change: transform, box-shadow;

    transition: box-shadow var(--trns),
        transform var(--trns);

    &:not(:hover),
    &:not(:focus-visible) {
        box-shadow: transparent var(--bs-offset);
    }

    @media (hover: hover) and (pointer: fine) {

        &:hover,
        &:focus-visible {
            border: 0;
            box-shadow: var(--color-bs-btn) var(--bs-offset);
        }
    }
}

.btn-accent-transform {

    &:not(:hover),
    &:not(:focus-visible) {
        transform: translateY(0px);
    }

    @media (hover: hover) and (pointer: fine) {

        &:hover,
        &:focus-visible {
            transform: translateY(-3px);
        }
    }
}

.btn-primary {
    display: block;
    cursor: pointer;
    text-align: center;
    font-family: var(--ff);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid var(--color-accent);
    color: var(--color-title);
    font-size: 20px;
    font-weight: 700;
    padding-block: 12px;

    outline: 0 !important;

    transition: background-size var(--trns),
        color var(--trns),
        background-color var(--trns);

    &:not(:hover),
    &:not(:focus-visible) {
        background-color: transparent;
    }
	
    @media (hover: hover) and (pointer: fine) {
		
		&:hover,
        &:focus-visible {
			background-color: var(--color-accent-light);
		}
    }
}